/* 全てのページに適用される設定 */
html {
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 0 0 0;
}

p,
li,
td {
    line-height: 1.7;
}

p {
    margin: 10px;
}

.logo p,
h1,
h2 {
    font-family: 'Oooh Baby', cursive;
}

h1 {
    font-size: 5rem;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    ;
    text-decoration: none;
}

a:hover {
    color: blue;
    ;
    text-decoration: underline;
}

a:active {
    color: blue;
    ;
    text-decoration: underline;
}

img {
    max-width: 100%;
}

/* fadeUp */

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* スクロールをしたら出現する要素にはじめに透過0を指定　*/

.fadeUpTrigger {
    opacity: 0;
}

/* すべてのページに適用 - ヘッダー */
.header {
    display: flex;
}

.logo p {
    font-size: 2rem;
    margin: 15px 0 15px 30px;
}

.logo a:link {
    color: black;
}

.logo a:visited {
    color: black;
}

.logo a:hover {
    color: black;
    text-decoration: none;
}

.logo a:active {
    color: black;
}

.sp-nav ul {
    list-style-type: none;
    margin-top: 90px;
}

.sp-nav li {
    margin-bottom: 20px;
}

.sp-nav a:link {
    color: black;
}

.sp-nav a:visited {
    color: black;
}

.sp-nav a:hover {
    text-decoration: none;
    color: #646464;
}

.sp-nav a:active {
    text-decoration: none;
}

/* 
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
}

.hamburger__line {
    position: absolute;
    width: 50px;
    height: 3px;
    right: 0;
    background-color: #646464;
    transition: all 0.5s;
}

.hamburger__line--1 {
    top: 1px;
}

.hamburger__line--2 {
    top: 12px;
}

.hamburger__line--3 {
    top: 24px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
}

.open .hamburger__line--2 {
    opacity: 0;
}

.open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
}

/* 
  sp-nav(ナビ)
  =================================== */
.sp-nav {
    position: fixed;
    right: -100%;
    /*ハンバーガーがクリックされる前はWindow右側に隠す*/
    top: 0;
    width: 30%;
    /* 出てくるスライドメニューの幅 */
    height: 100vh;
    background-color: #fff;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto;
    /* メニューが多くなったらスクロールできるように */
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
    right: 0;
}


/* 
  black-bg(ハンバーガーメニュー解除用bg)
  =================================== */
.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #646464;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
    opacity: 0.3;
    visibility: visible;
}

/* すべてのページに適用 - ヒーロー */
.hero {
    padding: 137px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    object-fit: cover;
}

.hero h2 {
    font-family: sans-serif;
    font-size: 1rem;

}

/* サークルアニメーション */
.circle img,
.circle2 img,
.pagetop img {
    animation: rotate_anime 7s linear infinite;
}

@keyframes rotate_anime {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* トップページ以外のヒーロー画像 */
.hero.access {
    background-image: url(../images/access.jpg);
}

.hero.menu {
    background-image: url(../images/menu.jpg);
}

.hero.contact {
    background-image: url(../images/contact.jpg);

}

.hero.recomend {
    background-image: url(../images/recomend.jpg);
}

/* すべてのページに適用 - メイン */
main {
    margin: 90px auto;
    max-width: 1000px;

}

main h2 {
    margin: 60px 0 10px 0;
    font-size: 3rem;
    font-weight: 300;
}

#news,
#recomend,
#shop {
    padding: 30px 0;
}

.tea1 {
    margin: 0 auto;
    width: 50%;
}

.introduction p {
    text-align: center;
}

.tea2 {
    width: 60%;
    height: auto;
    margin-right: 0;
    margin: 70px 0 0 90px;

}

.tea-pic {
    position: relative;
}

.circle2 img {
    width: 20%;
    position: absolute;
    right: 150px;
    bottom: -50px;

}

#news ul {
    list-style: none;
}

#news li {
    border-bottom: 1px solid black;
    padding: 20px 10px;
}

#recomend {
    margin-top: 60px;
}

#recomend {
    cursor: pointer;
    width: 100%;
}

#recomend img {
    width: 100%;
    height: auto;
    transition: transform .6s ease;
    /* ゆっくり変化させる */
}

#recomend:hover img {
    transform: scale(1.1);
    /* 拡大 */
}

.shop-info {
    display: flex;
}

.shop-info img {
    width: 35%;
}

.shop-info table {
    margin-left: 30px;
}

.shop-info tr {
    margin: 20px;
}

.shop-info th {
    font-weight: 100;
    width: 100px;
    text-align: left;
    vertical-align: top;
}

.shop-info td {
    text-align: left;
    vertical-align: top;
}

footer #shop table {
    margin: 0 auto;
}

/* すべてのページに適用 - フッター */
.gotop {
    position: relative;
}

.arrow {
    cursor: pointer;
    position: relative;
    left: 0;
    z-index: 100;

}

.arrow img {
    position: absolute;
    width: 40px;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: auto;

    transition: transform .6s ease;
    /* ゆっくり変化させる */
}

.arrow img:hover {
    transform: scale(1.3);
    /* 拡大 */
}

.pagetop {
    width: 140px;
    margin: 0 auto;

}


.copyright {
    margin: 20px 0 0 0;
    padding: 30px 0;
    font-size: small;
    text-align: center;
}

/* 個別のスタイル */
/* index.html */
.hero.index {
    padding: 150px 0;
    background-image: url(../images/top-hero.jpg);
    background-position: 200px;
    position: relative;
}

.hero.index h1,
.hero.index h2 {
    margin-left: 200px;
}

.hero.index p {
    margin-top: auto;
    margin-left: auto;
    padding-right: 30px;
    text-align: right;
    writing-mode: vertical-rl;
}

.hero.index img {
    position: absolute;
    bottom: -70px;
    left: 115px;
    
}

/* access.html */
.map {
    display: flex;
    margin-top: 150px;
}

.access-text {
    margin-left: 40px;
}

/* menu.html */
.item1,
.item2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.items img {
    height: 250px;
    width: 100%;
    object-fit: cover;

}

/* contact.html */
form {
    margin: 0 auto;
    max-width: 640px;
}

input[type="text"],
textarea {
    padding: 6px;
    width: 100%;
    font-size: 1rem;
}

textarea {
    height: 140px;
}

.submit {
    text-align: center;
}

input[type="submit"] {
    border: 1px solid #646464;
    border-radius: 20px;
    padding: 15px;
    width: 200px;
    background-color: #646464;
    color: #FFF;
    font-size: 1rem;
    box-shadow: 0 4px 0 #3d3d3d;
    /* ボタンの影 */
    cursor: pointer;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

input[type="submit"]:hover {
    transform: translateY(4px);
    box-shadow: none;
}

/* recomend.html */
.recomend-info {
    text-align: center;
}

.recomend-info img {
    width: 50%;
}

/* モバイル対応 */

@media (max-width: 767px) {
    main {
        padding: 0 4%;
    }

    /* index.html */
    .sp-nav {
        width: 50%;
    }

    .sp-nav li {
        margin-bottom: 30px;
    }

    .hero.index {
        padding: 20vh 0;
        background-position: center;
    }

    .hero.index h1 {
        line-height: 4rem;
    }

    .hero.index h1,
    .hero.index h2 {
        margin: 0 auto;
        padding: 10px;
        font-weight: 300;
    }

    .circle img {
        left: 100px;
    }

    .circle2 img {
        left: 46px;
        top: 148px;
    }

    #recomend {
        margin: 0;
    }

    .shop-info {
        display: block;
    }

    .shop-info img {
        width: 100%;
        margin-bottom: 30px;
    }

    .pagetop img {
        width: 1000px;
    }

    .arrow img {
        top: 120px;
    }
    .map {
        display: block;
    }

    .map iframe {
        width: 100%;
    }

    /* menu.html */
    .item1,
    .item2 {
        display: block;
    }
}